@import 'libs/bootstrap-reboot';

* {
    font-family: 'Roboto', sans-serif;
}

.section {
    height: 100vh;
    background: rgb(131,58,180);
    background: linear-gradient(to top, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,237,69,1) 100%);
}





/* 
@import "base/media"; */


